# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
This is a [React.js](https://react.dev/) project

## Getting Started

First, clone the project:

```bash
git clone < - url goes here - >
```
Second, install the dependencies:

for npm

```bash
npm install
```

for yarn

```bash
yarn install
```



# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
